body{
    margin: 0%;
    background-size: cover;
    height:100vh;
}
.navbar-brand,.nav-item a{
    color: white;
}
.nav-item a:hover{
    background-color: black;
    color: white;
}
button {
    background-color: rgb(209, 170, 245);
    color: aliceblue;
}
h1{
    color: rgb(61, 39, 2);
}
